<div id="login-page">
    <div class="container auth-wapper">
        <div class="card">
            <div class="content">
                <h1 class="mb-2">Login</h1>
                <form data-request="login" id="login-form">
                    <div class="row mb-2">
                        <div class="col-12 col-md-4 label">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input class="w-100" type="text" id="email" name="email" placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-md-4 label">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input class="w-100" type="password" id="password" name="password" placeholder="Enter your Password">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8">
                            <button type="submit">Login</button>
                        </div>
                    </div>
                </form>
                <a href="javascript:void(0)" data-redirect-to="register">Register</a>
            </div>
        </div>
    </div>
</div>