<form data-request="register" id="user-form">
    <input type="hidden" name="id" value="${_id}">
    <div class="row mb-2">
        <div class="col-12 col-md-4 label">
            <label for="name">Name</label>
        </div>
        <div class="col-12 col-md-8">
            <input class="w-100" type="name" id="name" name="name" placeholder="Enter Name" value="${name}">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-4 label">
            <label for="email">Email</label>
        </div>
        <div class="col-12 col-md-8">
            <input class="w-100" type="text" id="email" name="email" placeholder="Enter Email" value="${email}">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-4 label">
            <label for="password">Password</label>
        </div>
        <div class="col-12 col-md-8">
            <input class="w-100" type="password" id="password" name="password" placeholder="Enter Password">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-8">
            <button type="submit">Save</button>
        </div>
    </div>
</form>